.testbase64 {
    width:100px;
    height:100px;
    background:url(../../images/44.png) no-repeat;
    background-size: contain;
}
//这是一个注释
.testbig {
    width:200px;
    height:400px;
    background:url(../../images/open_new_mask1.png) no-repeat;
    background-size: contain;
}

.testbig {
    width:200px;
    height:400px;
    background:url(../../images/open_new_mask1.png) no-repeat;
    background-size: contain;
}
